/* .bttn{
    width: 250px;
    height: 30px;
    background-color: goldenrod;
    border-radius: 3px;
    margin-bottom: 10px;
    font-weight: 650;
}
.bttn:hover{

    background-color: lightcyan;
}
.image{
    height: auto;
}
.info-container{
    width: 70%;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    
}
.price{
    font-size: 22px;
}
.name{
    font-weight: 500;
} */